@import "./Common/color.scss";
// font-family: 'Merriweather', serif;
// font-family: 'Poppins', sans-serif;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
}
a{
  text-decoration: none;
}

body{
  background-color: $primary-color;
}
.container{
  margin: 0px 40px;
}